<div class="service_container">
  <%= tabs do |c| %>
    <% @service_categories.each do |category| %>
      <% c.tab category.name do %>
        <div class="container">
          <% category.service_items.each do |item| %>
            <%= link_to new_service_path(:service_id => item.id), :class => "new_service_link" do %>
              <div class="service_item">
                  <div class="service_item_name">
                    <p> <%= item.name %> </p>
                  </div>
                  </br>

                  <div>
                    <p> $<%= item.price %> </p>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
