<div class="service_container">
  <%= tabs do |c| %>
    <% c.tab 'TV' do %>
      <% @tv_services.each do |s| %>

      <% end %>
    <% end %>
    <% c.tab 'Sports' do %>
      <span>Tab content 2</span>
    <% end %>
    <% c.tab 'Music' do %>
      <span>Tab content 2</span>
    <% end %>
    <% c.tab 'VPN' do %>
      <span>Tab content 2</span>
    <% end %>
    <% c.tab 'News' do %>
      <span>Tab content 2</span>
    <% end %>
  <% end %>
</div>
