// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_subscription {
  .serviceSelector {
    margin-bottom: 20px;
  }
  #pleaseLoginForService {
    font-size: 12px;
  }
}

.service_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  width: 135px;
  background-color: whitesmoke;

  .service_item_name {
    flex: 0 1 100%;
    text-align: center;
  }
}

.service_payment_info {
  margin-bottom: 20px;
}

.service_container {
  .tab-content {
    background-color: white;
  }
  .new_service_link {
    color: inherit;
    text-decoration: none;
  }
  .nav-tabs {
    background-color: white;

    li.active {
      a {
        border: none;
      }
    }
    li {
      a {
        border-radius: 0px;
      }
    }
  }
}
